<div class="timer" *ngIf="!gameFinished">
  {{ timerToConvert | timerPipe }} -- SCORE {{score}}
</div>
<div class="board">
  <ng-container *ngFor="let x of getBoard();">
    <ng-container *ngFor="let y of x;">
      <jsan-item [item]="y" (showEvent)="actionShow($event,y)" (flagEvent)="actionFlag(y)"></jsan-item>
    </ng-container>
    <br>
  </ng-container>
</div>
<div class="game-finished">
  <a *ngIf="!gameFinished" routerLink="/new" class="save-game" (click)="saveGame()">Save Game</a>
  <span *ngIf="gameFinished">
    The game has finished you {{getStatus() == 'won' ? "WON" : "LOSE"}}
    <br>
    {{ lastTimer | timerPipe }}
    <a class="new-game" routerLink="/new">New Game</a>
  </span>
</div>
